body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 background: #f5f5f5;
 flex-direction: column;
}
.calculator{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 20px;
    width: 260px;
}
#screen{
    width: 100%;
    height: 30px;
font-size: 24px;
text-align: center;
margin-bottom: 20px;
padding: 5px;
border: 2px solid #00ff99;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 20px;
    font-size: 20px;
    background: #f1f1f1;
    border: 0.5px solid black;
    transition: 0.2s;
    border-radius: 6px;
}
button:hover{
    background: #ddd;
}
.zero{
    grid-column: span 2;
}








